.wrapper, body, html {
	min-height: 100%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background: #10141B;
}
.loginwindow{
	background: url('../images/loginbg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}
.loginforms .form-control:focus{
	border: none;
	border-left: 5px solid #FF9900;
	box-shadow: none;
}
/*.loginscreens {
	background: #000000c7;
	padding: 25px 0;
	position: absolute;
	width: 100%;
	left: 50%;
	bottom: 0;
	height: 300px;
	transform: translate(-50%, -50%);
	top: 50%;
}*/
.loginscreens {
	background: #000000c7;
	padding: 20px 0 25px;
	position: relative;
	width: 100%;
	margin: 25px 0;
}
.loginwidn {
	max-width: 530px;
	margin: auto;
	width: 100%;
}
.logoineer img {
	width: 100%;
}
.logoineer p {
	color: #fff;
	text-transform: uppercase;
	margin: 5px 0 15px;
	font-size: 25px;
	font-family: Roboto;
	font-weight: lighter;
}
.loginforms {
	background: #262E3E;
	padding: 8px 25px;
	display: block;
	float: left;
	width: 100%;
}
.loginforms input {
	background: #10141B;
	border: none;
	border-left: 5px solid #FF9900 !important;
}
.loginforms input.emailfield{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.loginforms input.passwordfield{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.loginforms .form-group {
	float: left;
}
.form-group.havewemial {
  width: 230px;
}
.form-group.havewemial input {
	width: 100%;
	color: #D1D1D1;
	font-family: Open Sans;
}
.loginforms input, .loginforms btn{
	height: 37px;
}
.form-group.havepassword {
	width: 152px;
}
.loginforms .form-inline .btn {
	float: right;
	width: 66px;
	background: #10141B;
	height: 37px;
	border: none;
	text-transform: uppercase;
	color: #4F5B6D;
}
.form-group.havepassword input {
	width: 100%;
}
.loginforms ::placeholder {
  color: #4F5B6D;
  opacity: 1; /* Firefox */
}

.loginforms :-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #4F5B6D;
}

.loginforms ::-ms-input-placeholder { /* Microsoft Edge */
 color: #4F5B6D;
}
.loginforms p {
	margin: 0 0 5px;
	color: #A6A6A6;
	font-size: 12px;
	font-family: Roboto;
}
.form-group.havepassword p {
	text-align: right;
	margin: 5px 0 0;
}
.form-group.havepassword p a {
	color: #A6A6A6;
}
.topheader h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin: 0;
	background: #00BB00;
	padding: 15px 0;
	height: 50px;
	text-align: center;
	font-family: Roboto;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 5px;
}
.topheader {
	width: 240px;
}
.topheadcontent {
	background: #000000c7;
	color: #D1D1D1;
	font-size: 13px;
	text-align: center;
	width: 230px;
	margin: auto;
	padding: 10px 5px;
	font-weight: 400;
	font-family: Roboto;
}
.enrollband {
	margin: 8px 0;
}
.enrollband a {
	background: #262E3E;
	color: #D1D1D1;
	text-transform: uppercase;
	padding: 7px 10px;
	border-radius: 4px;
	text-decoration: none;
}
.footerarea {
	background: #000000c7;
	padding: 5px 0;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.ftrlogo img {
	width: 120px;
}
.ftrlinks {
	float: right;
}
.ftrlinks ul li {
	display: inline-block;
	list-style: none;
	padding: 0 10px;
	line-height: 25px;
	font-size: 12px;
	font-family: Roboto;
}
.ftrlinks ul {
	float: left;
	margin: 0;
}
.ftrlinks ul li a{
	color: #fff;
}
.versiontext {
	float: left;
	color: #fff;
	line-height: 25px;
}
.versiontext p {
	margin: 0;
	color: #A6A6A6;
}
/*Dashboard*/
.wrapper {
	position: relative;
}
.main-sidebar {
	background: #242E3E;
	width: 200px;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
}
.custom-logo {
	padding: 10px 0;
	text-align: center;
}
.logoname {
	color: #4F5B6D;
	font-family: Roboto;
	margin: 0 8px 10px;
	background: #333F50;
	padding: 5px;
}
.maincompany {
	display: block;
}
.itemsas {
	font-size: 13px;
	color: #D1D1D1;
}
.itemscenter ul {
	padding: 0;
}
.itemscenter ul li {
	color: #D1D1D1;
	font-size: 12px;
	margin: 0 0 3px;
	list-style-type: none;
}
.itemscenter ul li span {
	color: #00AEEF;
}
.itemscenter {
	padding: 0 5px;
}
.navitems-area {
	background: #1E2631;
	float: left;
	width: 100%;
}
.navitems-area ul {
	padding: 0;
}
.navitems-area ul li {
	list-style-type: none;
	text-align: center;
	display: block;	
	font-size: 11px;
}
.navitems-area ul li a {
	color: #fff;
	padding: 8px 0 5px;
	display: block;
	border: 0 solid #333F50;
	border-width: 1px 1px 0 0;
}
.navitems-area ul li.fullarea {
	width: 100%;
	clear: both;
}
.navitems-area ul li.halfarea {
	width: 50%;
	float: left;
}
.navitems-area ul li .menuimages img {
	width: 45px;
}
.navitems-area ul li span {
	display: block;
}
.navitems-area ul li .numberonly {
	color: #00AEEF;
	font-size: 23px;
	padding-top: 8px;
}
.menuisonstate .menuisoff {
	display: none;
}
.navitems-area ul li a:hover, .navitems-area ul li a:active, .navitems-area ul li a.active {
	outline: 1px solid #00BB00;
	outline-offset: -1px;
	position: relative;
	text-decoration: none;
}
.blankspacearea {
	height: 180px;
	display: block;
	float: left;
	width: 100%;
	background: #333F50;
}
.menuftlogo img {
	width: 130px;
	margin: auto;
}
/*Menu Top*/
.main-header.navbar.navbar-expand {
	background: #10141B;
	border-radius: 0;
	margin: 0;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
.previosnext {
	display: flex;
	align-items: center;
	height: 60px;
	padding-left: 15px;
	justify-content: flex-start;
	flex: 0 0 33.3%;
	width: 33.3%;
}
.previosnext ul {
	margin: 0;
	padding: 0;
}
.previosnext ul li {
	list-style-type: none;
	display: inline-block;
}
.previosnext ul li a {
	background: #1E2631;
	color: #A6A6A6;
	padding: 0 10px;
	line-height: 32px;
	font-size: 24px;
	height: 35px;
	display: block;
	width: 34px;
	box-sizing: border-box;
	text-align: center;
}
.centerbtn {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 60px;
	flex: 0 0 33.3%;
	width: 33.3%;
}
.main-header .btn.btn-success, .controlbar .btn.btn-success {
	background-color: #1E2631;
	border-color: #1E2631;
	color: #A6A6A6;
	margin: 0 5px;
	text-transform: uppercase;
	font-size: 13px;
	font-family: Open Sans;
}
.controlbar .rightcontrolserch .btn.btn-success {
	margin-right: 4px;
}
.navbar-nav {
	list-style: none;
	float: right;
	padding: 11px 0;
	justify-content: flex-end;
	display: flex;
	flex: 0 0 33.3%;
	padding-right: 15px;
	width: 33.3%;
}
.nav-link.btn.btn-success {
	padding: 6px 12px;
	font-size: 16px;
	color: #A6A6A6;
}
.nav-item .nav-link {
	padding: 8px 15px;
	display: block;
	font-size: 16px;
	color: #A6A6A6;
}
.dropdown-menu.show {
	display: block;
}
.dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: none;
	float: left;
	min-width: 10rem;
	padding: .5rem 0;
	margin: .125rem 0 0;
	font-size: 1rem;
	color: #212529;
	text-align: left;
	list-style: none;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: .25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.175);
}
.dropdown-menu-lg {
	max-width: 300px;
	min-width: 282px;
	padding: 0;
}
.dropdown-item {
	display: block;
	width: 100%;
	font-size: 13px;
	clear: both;
	font-weight: 400;
	color: #212529;
	text-align: inherit;
	white-space: nowrap;
	background-color: transparent;
	border: 0;
}
.text-muted {
	color: #6c757d !important;
}
.float-right {
	float: right;
}
.dropdown-menu-lg .dropdown-item {
	padding: 10px 12px;
}
.dropdown-footer, .dropdown-header {
	display: block;
	font-size: 14px;
	text-align: center;
}
.dropdown-divider {
  height: 0;
  margin: .5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}
.dropdown-menu-lg .dropdown-divider {
  margin: 0;
}
.dropdown-header {
	background: #1E2631;
	color: #A6A6A6;
}
.nav-item.dropdown.profileopen a {
	padding: 0 5px;
	padding-left: 0;
}
.profiletext .username {
	color: #D1D1D1;
	font-size: 18px;
	font-family: Open Sans;
	font-weight: 300;
	display: block;
	line-height: 18px;
}
.userdesignation {
	font-size: 11px;
	font-family: Open Sans;
	font-weight: 300;
	text-align: right;
	display: block;
	line-height: 12px;
	padding-right: 15px;
}
.main-header.navbar.navbar-expand {
	margin-left: 200px;
}
.controlbar {
	background: #333F50;
	display: flex;
	flex-flow: row nowrap;
	padding: 0 15px;
}
.productsearch.leftsidetr {
	width: 33.3%;
	text-align: center;
	display: flex;
	align-items: center;
	height: 60px;
	justify-content: flex-start;
	flex: 0 0 33.3%;
}
.rightcontrolserch {
	display: flex;
	justify-content: flex-end;
	width: 33.3%;
	flex: 0 0 33.3%;
}
.productsearch.rightareas {
	float: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.rightcontrolserch .searchprodicttext {
	justify-content: center;
	width: 100%;
}
.productsearch .btn.btn-success {
	float: left;
	width: 40px;
	font-size: 16px;
}
.searchprodicttext {
	font-size: 10px;
	color: #A6A6A6;
	float: left;
	text-align: center;
	width: ;
	justify-content: flex-start;
	display: flex;
	clear: both;
}
.productsearch.rightareas {
	float: right;
}
.customeset.gobtn .searchprodicttext {
	width: 100%;
	justify-content: center;
}
.conten-wrapper {
	margin-left: 200px;
	height: 100%;
	background: #10141B;
	min-height: 701px;
	margin-top: calc(60px + 1px);
}
.menusections {
  display: block;
  overflow-y: auto;
  height: calc(100vh - (210px + 1px));
}
.navitems-area.bottom-section {
	padding: 0 0 25px;
}
.footer {
	width: 100%;
	background: #242e3e;
	position: fixed;
	bottom: 0;
	z-index: 1032;
	height: 50px;
}
.menuftlogo {
	width: 200px;
	float: left;
	display: flex;
	align-items: center;
	height: 50px;
}
.control-switch .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 24px;
	margin: 0;
}
.control-switch .switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}
.control-switch .slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #10141b;
	-webkit-transition: .4s;
	transition: .4s;
}
.control-switch .slider::before {
	position: absolute;
	content: "";
	height: 24px;
	width: 24px;
	left: 0px;
	bottom: 0px;
	background-color: #FF9900;
	-webkit-transition: .4s;
	transition: .4s;
	border: 7px solid #2e3a4b;
}
.control-switch input:checked + .slider {
	background-color: #10141B;
}
.control-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
.control-switch input:checked + .slider:before {
  -webkit-transform: translateX(36px);
  -ms-transform: translateX(36px);
  transform: translateX(36px);
  background-color: #0B0;
}

/* Rounded sliders */
.control-switch .slider.round {
  border-radius: 34px;
}
.control-switch .slider.round:before {
  border-radius: 50%;
}
.control-switch {
	float: left;
	height: 50px;
	display: block;
	padding: 10px 0px 0px 25px;
}
.controlftrbtn {
	float: left;
	width: auto;
	display: block;
	padding: 0 35px 0px 0px;
}
.control-item {
	color: #D1D1D1;
	line-height: 25px;
	margin-right: 10px;
}
.controlftrbtn.tooltipson {
	padding: 0;
}
.nopadding-left{
	padding-left: 0;
}
.leftftrmenu.rightmenuftr {
	padding: 10px 0;
	display: block;
	float: right;
}
.form-control-static {
	color: #A6A6A6;
	margin-right: 15px;
}
.customeset {
	display: block;
	float: left;
	width: 58px;
	text-align: center;
}
.filtersection {
	float: right;
	width: 100%;
	max-width: 850px;
	padding: 15px 0;
}
.btnsets {
	display: block;
	float: right;
}
.customeset .btn.btn-success {
  width: 46px;
  height: 40px;
  font-size: 16px;
  background-color: #1E2631;
  border-color: #1E2631;
  color: #A6A6A6;
}
.filtersection .form-group .form-control {
	width: 100%;
	border-color: #333F50;
	background: transparent;
	border-width: 2px;
	color: #A6A6A6;
	height: 40px;
	border-radius: 6px;
}
.filtersection .form-group {
	width: 25%;
	padding: 0 5px;
}
.nav-item.logoutbtn .nav-link {
	color: #0B0;
	margin-right: 0;
}
.productsearch.rightareas:last-child .btn {
	margin-right: 0;
}
.productsearch.leftsidetr .btn.btn-success {
	margin: 0;
}
::-webkit-scrollbar {
    height: 0;
    width: 2px;
}
::-webkit-scrollbar-thumb {
    background-color: #333f50;
}
::-webkit-scrollbar-track {
    background-color: #f5f5f500;
    -webkit-box-shadow: inset 0 0 6px transparent;
}
.notificatonbell {
    position: relative;
}
.notificatonbell .badge {
    background: #FF3636;
    font-size: 10px;
    border-radius: 2px;
    padding: 3px 4px;
    position: absolute;
    right: 5px;
    top: -5px;
    line-height: 9px;
    text-align: center;
    font-family: 'Open Sans';
    font-weight: lighter;
}
/*End Dashboard*/
/*Page Not Found*/
h1.page-not-found {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}
/*Page Not Found*/
.branddisplayname {
	padding-left: 25px;
	color: #A6A6A6;
}
.brandgreenname {
	color: #0B0;
}
.brandgreenname .fa{
	color: #A6A6A6;
}
@media only screen and (max-width: 1200px){
	.filtersection .form-group {
	width: 25%;
	padding: 0 5px;
}
}
@media only screen and (max-width: 992px){
	.filtersection .form-group {
	width: 25%;
	padding: 0 5px;
}
}