body {
	font-family: Poppins, sans-serif;
	font-style: normal;
	font-weight: 400;
	background: #F6F8FB;
}
.auth-wrapper {
 background: url('/images/login-background.png') no-repeat center center fixed; 
  height: 100vh;
  width: 100%;
  background-size: cover;
}

/* Overlay */
.auth-overlay {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.error-text {
	font-family: Poppins, sans-serif;
	font-size: 13px;
	color: #ff0404;
}

/* Glass Card */
.auth-card {
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	color: #fff;
	text-align: center;
	background: #5882c170;
	border: 2px solid #ffffff87;
	border-radius: 20px;
	width: 484px;
	padding: 40px;
	box-shadow: 0 10px 40px #00000026;
	min-height: 597px;
}

/* Header */
.login-header img {
	width: 170px;
	margin-bottom: 20px;
}

.login-header h2 {
	letter-spacing: .07px;
	text-align: center;
	font-family: Poppins;
	font-size: 34px;
	font-weight: 600;
	line-height: 32px;
	margin-bottom: 20px;
	color: #fff;
}
.login-header p {
	letter-spacing: -.31px;
	text-align: center;
	font-family: Inter;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

/* Toggle */
.login-toggle {
	background: #fff;
	border-radius: 5px;
	display: flex;
	overflow: hidden;
	max-width: 293px;
	margin: auto;
	margin-bottom: 25px;
	padding: 5px;
}

.login-toggle button {
	color: #6a7282;
	cursor: pointer;
	background: none;
	border: none;
	flex: 1;
	padding: 5px 8px;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
}
.login-toggle button.active {
	color: #fff;
}
.login-toggle .active {
	background: #03375B;
	border-radius: 5px;
}
.form-controlbox {
	text-align: left;
	margin-bottom: 15px;
}
/* Inputs */
.form-controlbox label {
	font-size: 13px;
}
.form-control {
	border: none;
	border-radius: 5px;
	width: 100%;
	height: 40px;
	padding: 10px;
}
.form-check.authpage .form-check-label {
	font-size: 12px;
}
.form-check.authpage input {
	height: 19px;
	width: 19px;
	background: #FFFFFF73;
	border: 1px solid #fff;
	border-radius: 5px;
	margin-right: 10px;
}

/* Forgot */
.forgot {
	text-align: center;
	margin-top: 15px;
	font-size: 13px;
	color: #fff;
}
.forgot a {
	color: #fff;
}


/* Button */
.btn-login {
	color: #fff;
	cursor: pointer;
	background: #0061A0;
	border: none;
	border-radius: 8px;
	width: 100%;
	height: 40px;
	font-weight: 500;
	font-size: 16px;
}

.btn-login:hover {
  background: #0b5ed7;
}

/* Powered */
.powered {
  position: absolute;
  bottom: 20px;
  right: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 14px;
}
/* forget password start*/
.powered img {
  height: 25px;
}

.success-box {
  text-align: center;
}

.mail-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.success-box p {
  font-size: 14px;
  margin-bottom: 20px;
}
/* forget password end*/
a{
	text-decoration: none;
}
.formSection {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	gap: 10px;
}
.form-group.havepassword p {
	text-align: right;
	margin: 5px 0 0;
}
.form-group.havepassword p a {
	color: #fff;
	border-bottom: 1px solid #A5B8D5;
	line-height: 15px;
	text-decoration: none;
}
.topheader h3 {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	margin: 0;
	background: #00BB00;
	padding: 15px 0;
	height: 50px;
	text-align: center;
	font-family: Roboto;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 5px;
}
.topheader {
	width: 240px;
}
.topheadcontent {
	background: #000000c7;
	color: #D1D1D1;
	font-size: 13px;
	text-align: center;
	width: 230px;
	margin: auto;
	padding: 10px 5px;
	font-weight: 400;
	font-family: Roboto;
}
.left-sidebar .menu-body .nav-item .nav-link svg {
	font-size: 24px;
	color: #6A7282;
}
.left-sidebar {
	box-shadow: 1px 0px 18px -1px #0000001A;
}
.card-body.bg-map {
	position: relative;
	z-index: 1;
	height: 690px;
	background-image: linear-gradient(120deg, #fdfbfb 0%, #e8e8e8 100%);
	padding: 15px 0;
}
.bg-map::before {
	content: "";
	height: 100%;
	width: 100%;
	
	position: absolute;
	opacity: 0.3;
	z-index: -1;
	left: 0;
	right: 0;
	top: 0;
	background-attachment: fixed;
	background-size: cover;
}
.mx-width {
	max-width: 132px;
}
.gap-20px {
	gap: 20px;
}
.form-check-input:checked {
	background-color: #fea400;
	border-color: #fea400;
}
.gap-20px .form-check {
	min-width: 98px;
}
.redastrick {
	color: red;
	margin-left: 3px;
}
.selectr-option.selected {
	background-color: #b9c6d7;
}
.add-more-row {
	text-align: right;
}
.add-more-row a {
	color: #0b51b7;
	text-decoration: underline;
}
.card-body.bg-map .tab-pane.active {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
	height: 615px;
	overflow-y: auto;
	padding: 0 15px;
}
.form-group.row.mb-2.twoBtns {
	flex-direction: row;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
	gap: 8px;
}
.form-group.row.mb-2.twoBtns .cutomAddbtns {
	display: flex;
	width: 34px;
	height: 34px;
	align-items: center;
	justify-content: center;
}
.cutomAddbtns.plus {
	background: #f4f4f4;
	border-radius: 6px;
	color: #15c641;
	font-size: 14px;
	border: 1px solid #15c641;
}
.cutomAddbtns.minus {
	background: #f4f4f4;
	border-radius: 6px;
	color: red;
	font-size: 14px;
	border: 1px solid red;
}
.cutomAddbtns.extendedTrip {
	background: #f4f4f4;
	border-radius: 6px;
	color: #402dc4;
	font-size: 14px;
	border: 1px solid #402dc4;
}
.cutomAddbtns.services {
	background: #f4f4f4;
	border-radius: 6px;
	color: #22b9e8;
	font-size: 14px;
	border: 1px solid #22b9e8;
}
.cutomAddbtns.edit {
	background: #f4f4f4;
	border-radius: 6px;
	color: #0765a3;
	font-size: 14px;
	border: 1px solid #0765a3;
}
.twoBtns.flex-start{
	align-items: flex-start;
}
.form-group.row.mb-2.twoBtns.twolinePosition {
	height: 100%;
	position: relative;
	top: 0;
	justify-content: flex-end;
	padding-right: 0;
	max-width: 120px;
	flex-wrap: wrap;
	text-align: right;
	margin: auto;
}
.form-group.row.mb-2.twoBtns.flex-start {
	justify-content: flex-start;
}
.action_icons {
	display: flex;
	flex-direction: row;
	gap: 10px;
	width: 120px;
	justify-content: flex-end;
	align-items: flex-end;
}
.col-md-2.TravellersWidth {
	width: 12%;
}
.col-md-2.ActionItemsBtn {
	width: 20%;
}
.myCustomExtended.yellow {
	background: #feffe3;
	width: 100%;
	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 15px;
}
.exportbtn .btn {
	font-size: 16px;
	width: 34px;
	height: 34px;
	display: inline-block;
}
.btn.btn-sm.btn-primary.csv {
	background-color: #42AA55;
	border-color: #42AA55;
}
.btn.btn-sm.btn-primary.pdf {
	background-color: #c80000;
	border-color: #c80000;
}
.exportbtn {
	position: absolute;
	top: 23px;
	left: auto;
	right: 215px;
}
.col-md-3.fromCity {
	max-width: 174px;
}
.col-md-2.ActionItemsBtn {
	width: 48px;
	display: flex;
	align-items: center;
	margin-top: 13px;
}
.ActionItemsBtn .dropdown-toggle.arrow-none {
	background: #0b51b7;
	color: #fff;
	width: 34px;
	height: 34px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
}
.leadStatusTExt span.thumb-lg{
	font-size: 16px;
}
.kpiFiveBox .col-md-6.col-lg-3 {
	width: 20%;
}
.activityList {
	min-height: 311px;
}
.recentLeadsTable .card-body {
	min-height: 514px;
}
.auth-header-box {
	background-color: #232a3e;
}
.addWrap {
	flex-wrap: wrap;
	margin-bottom: .5rem !important;
	min-height: 35.5px;
	padding-top: calc(.4rem + 1px);
}
/* Overlay confined to parent */
.loader-component {
	z-index: 99999;
	-webkit-backdrop-filter: blur(6px);
	backdrop-filter: blur(6px);
	background: #000000a8;
	justify-content: center;
	align-items: center;
	display: flex;
	position: fixed;
	inset: 0;
}
/* Center loader */
.loader-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Spinner */
.spinner-border {
  border: .25em solid;
  color: #029aa7;
  border-inline-end-color: transparent;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  animation: spinner-border .75s linear infinite;
}

/* Logo inside spinner */
.loader-img img {
  position: absolute;
  width: 100px;
}

/* Animation */
@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
.left-sidebar .brand {
	text-align: left;
	background-color: #fff;
	border: none;
}
.left-sidebar .brand .logo .logo-lg {
	height: 54px;
	margin-left: 0;
	display: inline-block;
}
.left-sidebar .menu-body .nav-item .nav-link {
	color: #6a7282;
	gap: 12px;
	height: 48px;
	font-family: Poppins, sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	padding-left: 18px;
}
.left-sidebar .menu-body {
	padding: 30px 0 0;
}
.left-sidebar .menu-body .nav-item.menuitem-active a {
	background: #03375B;
	color: #fff;
	border-radius: 0;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}
.left-sidebar .menu-body .nav-item.menuitem-active a svg{
	color: #fff;
}
.left-sidebar .menu-body .nav-item.menuitem-active a::after {
	content: "";
	background: #03375b;
	height: 48px;
	width: 24px;
  position: absolute;
  right: -7px;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.menuandFooterimg {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: calc(100vh - 180px);
}
.bottomIMage {
	text-align: center;
	position: relative;
}
.bottomIMage img {
	border-radius: 9px;
	width: 227px;
	height: 175px;
	object-fit: cover;
}
.footerRightSide {
	height: 80px;
	position: absolute;
	bottom: 0;
	border-top: 1px solid #F3F4F6;
	width: 100%;
	padding-left: 18px;
	display: flex;
	align-items: center;
}
.footerRightSide a {
	color: #ACACAC;
	font-size: 16px;
	font-weight: 500;
}
.footerRightSide a svg {
	width: 24px;
	height: 24px;
	margin-right: 12px;
}
.whiteBoxtext {
	background: #fff;
	position: absolute;
	width: 154px;
	height: 44px;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 12px;
	font-weight: 500;
	color: #0062A1;
	font-family: Poppins;
	display: flex;
	align-items: center;
	border-radius: 8px;
	top: 15px;
}
.notificationIcon svg {
	font-size: 20px;
}
.me-2-left {
	margin-left: 15px !important;
}
.navbar-custom .topbar-nav {
	height: 70px;
}
.page-wrapper .page-content-tab {
	width: calc(100% - 260px);
	min-height: calc(100vh - 70px);
	margin-top: 70px;
}
.profileName {
	font-size: 16px;
	color: #1C1C1C;
	font-family: Poppins;
	font-weight: 500;
	text-align: right;
	letter-spacing: -2%;
}
.profileDesignation {
	font-size: 12px;
	color: #6A7282;
	font-family: Inter;
	line-height: 16px;
}
.navbar-custom .topbar-nav li:last-child {
	margin-right: 8px;
	border-left: 1px solid #E5E7EB;
}
.navbar-custom {
	min-height: 70px;
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #f6f8fb;
	border-bottom: 1px solid #E4E4E4;
	margin-left: 260px;
	position: relative;
}
.notification-list .notification-menu {
	max-height: 220px;
	margin-left: 0;
	overflow-x: auto;
}
.forgotPassword .auth-wrapper{
	background: linear-gradient(135deg, #EFF6FF 0%, #FFF7ED 100%);
}
.backtoLogin {
	position: absolute;
	left: 67px;
	top: 52px;
	font-family: Poppins;
	font-size: 14px;
	font-weight: 500;
	z-index: 1;
}
.backtoLogin a {
	color: #6A7282;
	cursor: pointer;
}
.forgotPassword .auth-card {
	width: 484px;
	min-height: 452px;
	background: #fff;
}
.forgotPassword .login-header h2 {
	letter-spacing: .07px;
	text-align: center;
	color: #101828;
	margin-bottom: 20px;
	font-family: Poppins;
	font-size: 24px;
	font-weight: 500;
	line-height: 32px;
}
.forgotPassword login-header p {
	letter-spacing: -.31px;
	text-align: center;
	font-family: Inter;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	color: #6A7282;
}
.forgotPassword .form-controlbox label {
	font-size: 14px;
	color: #364153;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.15px;
}
.forgotPassword .form-controlbox .form-control {
	height: 50px;
	border-radius: 14px;
	border: 1px solid #E5E7EB;
}
.btn-login.sendReset {
	background: #FEA405;
	height: 50px;
	border-radius: 14px;
	font-size: 16px;
	font-family: Poppins;
	font-weight: 500;
	letter-spacing: -0.31px;
	line-height: 24px;
}
.forgotPassword .login-header p {
	letter-spacing: -.31px;
	text-align: center;
	color: #6a7282;
	font-family: Inter;
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
	margin-bottom: 40px;
}